{% include 'header.html' %}
    {% for room in rooms %}
        <div class="d-flex flex-column room-card">
            <p>{{ room.name }}</p>
            <p>{{ room.is_booked }}</p>
            {% if room.is_booked %}
                {% for meeting in room.meetings.all %}
                    <p>{{ meeting.key }}</p>
                    <p>{{ meeting.start_time }}</p>
                    <p>{{ meeting.end_time }}</p>
                    {% for member in meeting.members.all %}
                        <p>{{ member.full_name }}</p>
                        <p>{{ member.email }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% include 'footer.html' %}